@font-face {
    font-family: 'austinLight';
    src: url(../font/Austin-Light-Web.ttf) format('truetype');
}

@font-face {
    font-family: 'austinItalic';
    src: url(../font/Austin-LightItalic-Web.ttf);
}

@font-face {
    font-family: vanguardCustom;
    src: url(../font/vanguardcf-font/VanguardCF-Light.otf);
}
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
}

body{
    overflow-x: hidden;
}

#main{
   background-color: #d2d2c2;
   /* copy from website */
   background-image: linear-gradient(to left,transparent 1px,transparent calc((88vw - 4px)/ 14 - 1px),rgba(255,255,255,.6) calc((88vw - 4px)/ 14 - 1px),rgba(255,255,255,.6) calc((88vw - 4px)/ 14)),linear-gradient(to left,transparent 1px,transparent calc((88vw - 4px)/ 14 - 1px),rgba(255,255,255,.6) calc((88vw - 4px)/ 14 - 1px),rgba(255,255,255,.6) calc((88vw - 4px)/ 14));
   background-size: calc((88vw - 4px)/ 14) 100%,calc((88vw - 4px)/ 14) 93%;
   background-position-x: calc((88vw - 4px)/ 14 / 2),calc((88vw - 4px)/ 14);
}


/* Nav Bar Started */
#nav{
    width: 100%;
    height: 12vh;
    height:100px;
    background-color: transparent;
    position: fixed;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
}

#navPart1{
    width: 15vw;
    height: 7vh;
    background-color: #F5F5EB;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
}

#navPart1 h3{
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navPart1 img{
    margin-right: 0.5vw;
}

#navPart2{
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navPart2 *{
    padding: 2vh 1.5vw;
}

#navPart2 h4{
    margin-right: 0.2vw;
    font-weight: 400;
    background-color: #F5F5EB;
    transition: all ease 0.5s;
}

#navPart2 button{
    font-weight: 100;
    letter-spacing: 0.05vw;
    font-size: 1.2vw;
    background-color: #51733F;
    border: none;
    border-radius: 30px;
    margin-left: 0.7vw;
    color: white;
    position: relative;
    overflow: hidden;
    transition: all ease 0.5s;
}

#navPart2 h4:nth-child(1){
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#navPart2 h4:nth-child(3){
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#navPart2 button #contactShadow{
    position: absolute;
    background-color: #e3e3e3a3;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    transition: all ease 1s;
    left: 0;
    bottom: -140%;
}

#navPart2 button:hover  #contactShadow{
    bottom: 0%;
    scale: 1.2;
}


#navPart1:hover{
    margin-left:  -0.3vw;
    margin-top:  -0.3vw;
}

#navPart2 h4:hover,button:hover{
    margin-left:  -0.3vw;
    margin-top:  -0.3vw;
}


/* Page 1 Started */
#page1{
   width: 100%;
   min-height: 100vh;
   position: relative;
   background-color: transparent;
   padding: 1px; /*this is provides because of platform div */
}

#page1>h1{
    font-family: austinLight;
    font-size: 13vw;
    line-height: 11vw;
    font-weight: 100;
    position: absolute;
    left: 35vw;
    top: 33vh;
    transform: translate(-50%,-50%);
    z-index: 9999;
}

#page1>h1:nth-child(2){
    font-family: austinLight;
    font-size: 13vw;
    line-height: 10vw;
    font-weight: 100;
    position: absolute;
    width: 50vw;
    left: 63vw;
    top: 56vh;
    transform: translate(-50%,-50%);
    z-index: 9999;
}

#platform h1{
    font-family: austinLight;
    font-size: 13vw;
    line-height: 11vw;
    font-weight: 100;
    position: absolute;
    left: 53.5vw;
    top: 43vh;
    transform: translate(-50%,-50%);
    z-index: 9999;
}

#page1 #gola{
    position: absolute;
    top: 15%;
    left: 33%;
    /* transform: translate(-50%,0); */
    z-index: 999;
    height: 36vw;
    width: 36vw;
}

#page1 #platform{
     width:90vw;
     height:44vw;
     background-color: #F5F5EB;
     /* position: absolute;  because it doesn't extend the parent width*/ 
     margin-left: 4.5%;
     /* transform: translate(-50%,0); */
     transform-origin: 50% 0;
     margin-top: 90vh;
     position: relative;
     z-index: 99;
     border-bottom-left-radius: 9999px;
     border-bottom-right-radius: 9999px;
}

#page1 #platform h1{
    font-family: austinLight;
    font-size: 5.2vw;
    letter-spacing: 0.01vw;
    line-height: 5.5vw;
    text-align: center;
    width: 53%;
    font-weight: 100;
    margin-left: -4%;
}

#page1 #platform h1 span{
    font-family: austinItalic;
    position: relative;
}

#page1 #platform h1 span:nth-child(1)::before{
    content: "";
    position: absolute;
    height: 1.2vh;
    width: 100%;
    bottom: -10%;
    background-image: url(../images/underline.svg);
    background-position: center;
    background-size: cover;
}

#page1 #platform h1 span:nth-child(2)::before{
    /* font-family: austinItalic;
    border-bottom: 0.3vw solid #7AA74A; */
    /* or */
    content: "";
    position: absolute;
    height: 0.7vh;
    width: 100%;
    bottom: 8%;
    background-color: #7AA74A;
}



/* Page 2 Started */
#page2{
    width: 100%;
    min-height: 100vh;
    position: relative;  
    padding: 1px;
 }

 #page2-in{
    width: 84vw;
    height: 206vh;
    background-color: #ECEDDE;
    position: relative;
    margin-top: -80vh;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    margin-left: 8vw;
    padding-left: 8%;
    padding-right: 12%;
    padding-top: 45%;
 }

 #page2-in h1{
    font-family: austinLight;
    font-size: 5.5vw;
    overflow: hidden;
    opacity: 0;
 }

 #page2-in h1 span{
    font-style: italic;
 }

 #page2-in-elems{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5%;
 }

 #page2-in-elems h2{
    font-family: austinLight;
    font-size: 2.8vw;
    color: #51733F;
    border: 1px solid #51733F;
    padding: 1vh 1vw;
    border-radius: 30px;
 }

 #page2-in-elems p{
    width: 48%;
    font-size: 1.4vw;
 }


 #snake-circle{
    height: 80vh;
    width: 80vh;
    background-color: #B1C0A0;
    position: absolute;
    left: 50%;
    bottom: -38%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
 }

 #snake-circle video{
    height: 60vh;
    width: 35vw;
    margin-top: -10%;
    margin-left: -50%;
    rotate: -8deg;
    position: absolute;
 }

 #snake-circle img{
    height: 28vh;
    width: 20vw;
    rotate:12deg;
    position: absolute;
    top:0;
    right: -10%;

 }

 .snake__snake *{
    font-family: austinLight;
    font-size: 0.2vw;
 }

 .snake__snake{
    height: 135%;
    width: 100%;
    margin-top: -8%;
 }



 /* Page 3 Started */
#page3{
    width: 100%;
    min-height: 100vh;
    position: relative;  
    padding: 1px;
    padding-top: 37vh;
    padding-bottom: 10vh;
 }

 #page3>h2{
    font-size: 3vw;
    text-align: center;
    font-family: austinLight;
    font-weight: 100;
    margin-top: 35vh;
 }

 #page3Elems{
    position: relative;
 }

 #page3Elems:hover h1, #page3Elems:hover h3{
    color: grey;
 }

 .page3ElemCommonClass{
    transition: all ease 0.4s;
    z-index: 9;
    cursor: pointer;
}


 .page3ElemCommonClass>h1{
    font-size: 7vw;
    text-align: center;
    font-family: austinLight;
    font-weight: 300;
    margin-top: 8vh;
    position: relative;
 }

 .page3ElemCommonClass>h3{
    font-size: 1.3vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    position: relative;
 }

 .page3ElemCommonClass>img{
    width: 45vw;
    height: 45vw;
    position: absolute;
    scale: 0;
    transition: all linear 0.4s;
    transition-delay: 0.2s;
 }

#page3Elem1>img {
    margin-left: -15%;
    margin-top: -20%;
}

#page3Elem2>img{
    margin-left: 50%;
    margin-top: -30%;
 }

 #page3Elems #page3Elem3>img{
    margin-left: -10%;
    margin-top: -20%;
 }

 #page3Elems #page3Elem4>img{
    margin-top: -15%;
 }

 #page3Elems #page3Elem5>img{
    margin-top: -37%;
    margin-left: 60%;
 }

 #page3Elems #page3Elem6>img{
    margin-top: -36%;
    margin-left: 65%;
 }

 #page3Elem1:hover,
 #page3Elem1:hover h1,
 #page3Elem1:hover h3,
 #page3Elem1:hover img {
     color: #51733F;
     scale:1;
 } 
 #page3Elem1:hover h1, #page3Elem1:hover h3{
    position: relative;
    transform: translateY(3px);
 }


 #page3Elem2:hover,
 #page3Elem2:hover h1,
 #page3Elem2:hover h3,
 #page3Elem2:hover img {
     color: #51733F;
     scale:1;
 } 
 #page3Elem2:hover h1, #page3Elem2:hover h3{
    position: relative;
    transform: translateY(3px);
 }


 #page3Elem3:hover,
 #page3Elem3:hover h1,
 #page3Elem3:hover h3,
 #page3Elem3:hover img {
     color: #51733F;
     scale:1;
 } 
 #page3Elem3:hover h1, #page3Elem3:hover h3{
    position: relative;
    transform: translateY(3px);
 }


 #page3Elem4:hover,
 #page3Elem4:hover h1,
 #page3Elem4:hover h3,
 #page3Elem4:hover img {
     color: #51733F;
     scale:1;
 } 
 #page3Elem4:hover h1, #page3Elem4:hover h3{
    position: relative;
    transform: translateY(3px);
 }


 #page3Elem5:hover,
 #page3Elem5:hover h1,
 #page3Elem5:hover h3,
 #page3Elem5:hover img {
     color: #51733F;
     scale:1;
 } 
 #page3Elem5:hover h1, #page3Elem5:hover h3{
    position: relative;
    transform: translateY(3px);
 }

 
 #page3Elem6:hover,
 #page3Elem6:hover h1,
 #page3Elem6:hover h3,
 #page3Elem6:hover img {
     color: #51733F;
     scale:1;
 } 
 #page3Elem6:hover h1, #page3Elem6:hover h3{
    position: relative;
    transform: translateY(3px);
 }



  /* Page 4 Started */
#page4{
    width: 100%;
    min-height: 200vh;
    position: relative;  
    padding: 1px;
    padding-left: 15vw;
    padding-top: 15vh;
    overflow: hidden;
 }

 #page4 h1{
    font-family: austinItalic;
    font-size: 7vw;
    font-weight: 300;
    margin-bottom: 5vh;
    position: relative;
    z-index: 9;
 }

 #page4>p{
    width: 32vw;
    display: inline-flex;
    margin-right: 3vw;
    font-size: 1.3vw;
    position: relative;
    z-index: 9;
 }

 .page4Elems h2{
    font-weight: 400;
 }

 .page4Elems h3{
    font-size: 30px;
    font-weight: 200;
    letter-spacing: -0.7px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.838);
 }

 #page4Elem1{
    width: 350px;
    position: absolute;
    left: 48%;
    top:37%;
    rotate:2deg;
 }

 #page4Elem2{
    width: 320px;
    position: absolute;
    top:54%;
    rotate:-2deg;
 }

 #page4Elem3{
    width: 330px;
    position: absolute;
    top:68%;
    left:60%;
 }

 #page4Elem1 img{
    width: 100%;
    height: 250px;
 }

 #page4Elem2 img{
    width: 100%;
    height: 400px;
 }

 #page4Elem3 img{
    width: 100%;
    height: 230px;
 }

 #page4 #whiteCircle{
    height: 300px;
    width: 300px;
    background-color: rgb(240, 233, 233);
    position: absolute;
    border-radius: 50%;
    top:38%;
    left:43%;
 }
