@font-face {
    font-family: 'austinLight';
    src: url(../font/Austin-Light-Web.ttf) format('truetype');
}

@font-face {
    font-family: 'austinItalic';
    src: url(../font/Austin-LightItalic-Web.ttf);
}

@font-face {
    font-family: vanguardCustom;
    src: url(../font/vanguardcf-font/VanguardCF-Light.otf);
}
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
}

body{
    overflow-x: hidden;
}

#main{
   background-color: #d2d2c2;
   /* copy from website */
   background-image: linear-gradient(to left,transparent 1px,transparent calc((88vw - 4px)/ 14 - 1px),rgba(255,255,255,.6) calc((88vw - 4px)/ 14 - 1px),rgba(255,255,255,.6) calc((88vw - 4px)/ 14)),linear-gradient(to left,transparent 1px,transparent calc((88vw - 4px)/ 14 - 1px),rgba(255,255,255,.6) calc((88vw - 4px)/ 14 - 1px),rgba(255,255,255,.6) calc((88vw - 4px)/ 14));
   background-size: calc((88vw - 4px)/ 14) 100%,calc((88vw - 4px)/ 14) 93%;
   background-position-x: calc((88vw - 4px)/ 14 / 2),calc((88vw - 4px)/ 14);
}


/* Nav Bar Started */
#nav{
    width: 100%;
    height: 12vh;
    height:100px;
    background-color: transparent;
    position: fixed;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
}

/* #navPart1{
    width: 15vw;
    height: 7vh;
    background-color: #F5F5EB;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
}

#navPart1 h3{
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navPart1 img{
    margin-right: 0.5vw;
} */

#navPart1{
    width: 17vw;
    height: 7vh;
    background-color: #F5F5EB;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    /* overflow: hidden; */
}

#navPart1 img{
    margin-left: -2.7vw;
    margin-right: 0.5vw;
}

#navPart1 #navPart1navInner{
    height: 15vh;
    margin-top: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#navPart1 #navPart1navInner h3{
    font-weight: 300;
}









#navPart2{
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navPart2 *{
    padding: 2vh 1.5vw;
}

#navPart2 h4{
    margin-right: 0.2vw;
    font-weight: 400;
    background-color: #F5F5EB;
    transition: all ease 0.5s;
}

#navPart2 button{
    font-weight: 100;
    letter-spacing: 0.05vw;
    font-size: 1.2vw;
    background-color: #51733F;
    border: none;
    border-radius: 30px;
    margin-left: 0.7vw;
    color: white;
    position: relative;
    overflow: hidden;
    transition: all ease 0.5s;
}

#navPart2 h4:nth-child(1){
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#navPart2 h4:nth-child(3){
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#navPart2 button #contactShadow{
    position: absolute;
    background-color: #e3e3e3a3;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    transition: all ease 1s;
    left: 0;
    bottom: -140%;
}

#navPart2 button:hover  #contactShadow{
    bottom: 0%;
    scale: 1.2;
}


#navPart1:hover{
    margin-left:  -0.3vw;
    margin-top:  -0.3vw;
}

#navPart2 h4:hover,button:hover{
    margin-left:  -0.3vw;
    margin-top:  -0.3vw;
}

@media (max-width:600px) {

    #nav{
        width: 100vw;
        margin-top: -1vh;
    }

    #navPart1{
        background-color: transparent;
        padding-left: 8vw;
    }
    
    #navPart1 #navPart1navInner{
       display: none;
    }
    
    
    #navPart2 h4{
        display: none;
    }
    
    #navPart2 button{
        font-weight: 100;
        font-size: 5vw;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-right: 3vw;
    }
}


/* Page 1 Started */
#page1{
   width: 100%;
   min-height: 100vh;
   position: relative;
   background-color: transparent;
   padding: 1px; /*this is provides because of platform div */
}

#page1>h1{
    font-family: austinLight;
    font-size: 13vw;
    line-height: 11vw;
    font-weight: 100;
    position: absolute;
    left: 35vw;
    top: 33vh;
    transform: translate(-50%,-50%);
    z-index: 9999;
}

#page1>h1:nth-child(2){
    font-family: austinLight;
    font-size: 13vw;
    line-height: 10vw;
    font-weight: 100;
    position: absolute;
    width: 50vw;
    left: 63vw;
    top: 56vh;
    transform: translate(-50%,-50%);
    z-index: 9999;
}


#page1 #gola{
    position: absolute;
    top: 15%;
    left: 33%;
    /* transform: translate(-50%,0); */
    z-index: 999;
    height: 36vw;
    width: 36vw;
}

#page1 #platform{
     width:90vw;
     height:44vw;
     background-color: #F5F5EB;
     /* position: absolute;  because it doesn't extend the parent width*/ 
     margin-left: 4.5%;
     /* transform: translate(-50%,0); */
     transform-origin: 50% 0;
     margin-top: 90vh;
     position: relative;
     z-index: 99;
     border-bottom-left-radius: 9999px;
     border-bottom-right-radius: 9999px;
}

#page1 #platform h1{
    font-family: austinLight;
    font-size: 5.2vw;
    letter-spacing: 0.01vw;
    line-height: 5.5vw;
    text-align: center;
    width: 53%;
    font-weight: 100;
    margin-left: -4%;
    font-family: austinLight;
    font-weight: 100;
    position: absolute;
    left: 53.5vw;
    top: 43vh;
    transform: translate(-50%,-50%);
    z-index: 9999;
}

#page1 #platform h1 span{
    font-family: austinItalic;
    position: relative;
}

#page1 #platform h1 span:nth-child(1)::before{
    content: "";
    position: absolute;
    height: 1.2vh;
    width: 100%;
    bottom: -10%;
    background-image: url(../images/underline.svg);
    background-position: center;
    background-size: cover;
}

#page1 #platform h1 span:nth-child(2)::before{
    /* font-family: austinItalic;
    border-bottom: 0.3vw solid #7AA74A; */
    /* or */
    content: "";
    position: absolute;
    height: 0.7vh;
    width: 100%;
    bottom: 8%;
    background-color: #7AA74A;
}

@media (max-width:600px) {
    #page1{
        width: 100vw;
     }
     
     #page1>h1{
         font-family: austinLight;
         font-size: 18vw;
         line-height: 8vw;
         left: 30vw;
         top: 43vh;
     }
     
     #page1>h1:nth-child(2){
         font-family: austinLight;
         font-size: 18vw;
         white-space: nowrap;
         left: 52vw;
         top: 52vh;
     }
     
    
     
     #page1 #gola{
         position: absolute;
         top: 58vh;
         left: 22%;
         height: 55vw;
         width:55vw;
     }
     
     #page1 #platform{
          width:90vw;
          height:44vw;
          margin-top: 83vh;
     }

     #page1 #platform h1{
        font-family: austinLight;
        font-size: 8vw;
        letter-spacing: 0.01vw;
        line-height: 8vw;
        text-align: center;
        width: 74%;
        font-weight: 100;
        margin-left: -4%;
        font-family: austinLight;
        font-weight: 100;
        position: absolute;
        left: 50vw;
        top: 10vh;
        transform: translate(-50%,-50%);
        z-index: 9999;
    }

}



/* Page 2 Started */
#page2{
    width: 100%;
    min-height: 100vh;
    position: relative;  
    padding: 1px;
 }

 #page2-in{
    width: 84vw;
    height: 206vh;
    background-color: #ECEDDE;
    position: relative;
    margin-top: -80vh;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    margin-left: 8vw;
    padding-left: 8%;
    padding-right: 12%;
    padding-top: 45%;
 }

 #page2-in h1{
    font-family: austinLight;
    font-size: 5.5vw;
    overflow: hidden;
    opacity: 0;
 }

 #page2-in h1 span{
    font-style: italic;
 }

 #page2-in-elems{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5%;
 }

 #page2-in-elems h2{
    font-family: austinLight;
    font-size: 2.8vw;
    color: #51733F;
    border: 1px solid #51733F;
    padding: 1vh 1vw;
    border-radius: 30px;
 }

 #page2-in-elems p{
    width: 48%;
    font-size: 1.4vw;
 }


 #snake-circle{
    height: 80vh;
    width: 80vh;
    background-color: #B1C0A0;
    position: absolute;
    left: 50%;
    bottom: -38%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
 }

 #snake-circle video{
    height: 60vh;
    width: 35vw;
    margin-top: -10%;
    margin-left: -50%;
    rotate: -8deg;
    position: absolute;
 }

 #snake-circle img{
    height: 28vh;
    width: 20vw;
    rotate:12deg;
    position: absolute;
    top:0;
    right: -10%;

 }

 .snake__snake *{
    font-family: austinLight;
    font-size: 0.2vw;
 }

 .snake__snake{
    height: 135%;
    width: 100%;
    margin-top: -8%;
 }

 @media (max-width:600px) {

    #page2{
        width: 100vw;
     }
    
     #page2-in{
        width: 84vw;
        height: 104vh;
        margin-top: -20vh;
     }
    
     #page2-in h1{
        margin-top: 10vh;
        font-size: 9.8vw;
        white-space: nowrap;
        margin-left: -5vw;
     }
    
     #page2-in h1 span{
        font-style: normal;
     }
    
     #page2-in-elems{
        display: initial;
     }
    
     #page2-in-elems h2{
        font-family: austinLight;
        display: inline-block;
        font-weight: 100;
        font-size: 4.8vw;
        padding: 1vh 4vw;
        margin-left: -5vw;
     }
    
     #page2-in-elems p{
        width: 75vw;
        font-size: 3.9vw;
        margin-left: -5vw;
        margin-top: 3vh;
     }
    
    
     #snake-circle{
        height: 40vh;
        width: 40vh;
        bottom: -55%;
     }
    
     #snake-circle video{
        height: 70vh;
        width: 45vw;
        margin-top: -70%;
        margin-left: -35%;
     }
    
     #snake-circle img{
        height: 16vh;
        width: 40vw;
        top:-17%;
     }
    
     .snake__snake *{
        font-family: austinLight;
        font-size: 1vw;
     }
 }



 /* Page 3 Started */
#page3{
    width: 100%;
    min-height: 100vh;
    position: relative;  
    padding: 1px;
    padding-top: 37vh;
    padding-bottom: 10vh;
 }

 #page3>h2{
    font-size: 3vw;
    text-align: center;
    font-family: austinLight;
    font-weight: 100;
    margin-top: 35vh;
 }

 #page3Elems{
    position: relative;
 }

 #page3Elems:hover h1, #page3Elems:hover h3{
    color: grey;
 }

 .page3ElemCommonClass{
    transition: all ease 0.4s;
    z-index: 9;
    cursor: pointer;
}

.page3ElemCommonClass>i{
    font-size: 3vw;
    color: floralwhite;
    background-color: #51733F;
    border-radius: 25px;
    display: none;
}


 .page3ElemCommonClass>h1{
    font-size: 7vw;
    text-align: center;
    font-family: austinLight;
    font-weight: 300;
    margin-top: 8vh;
    position: relative;
 }

 .page3ElemCommonClass>h3{
    font-size: 1.3vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    position: relative;
 }

 .page3ElemCommonClass>img{
    width: 45vw;
    height: 45vw;
    position: absolute;
    scale: 0;
    transition: all linear 0.4s;
    transition-delay: 0.2s;
 }

#page3Elem1>img {
    margin-left: -15%;
    margin-top: -20%;
}

#page3Elem2>img{
    margin-left: 50%;
    margin-top: -30%;
 }

 #page3Elems #page3Elem3>img{
    margin-left: -10%;
    margin-top: -20%;
 }

 #page3Elems #page3Elem4>img{
    margin-top: -15%;
 }

 #page3Elems #page3Elem5>img{
    margin-top: -37%;
    margin-left: 60%;
 }

 #page3Elems #page3Elem6>img{
    margin-top: -36%;
    margin-left: 65%;
 }

 #page3Elem1:hover,
 #page3Elem1:hover h1,
 #page3Elem1:hover h3,
 #page3Elem1:hover img {
     color: #51733F;
     scale:1;
 } 
 #page3Elem1:hover h1, #page3Elem1:hover h3{
    position: relative;
    transform: translateY(3px);
 }


 #page3Elem2:hover,
 #page3Elem2:hover h1,
 #page3Elem2:hover h3,
 #page3Elem2:hover img {
     color: #51733F;
     scale:1;
 } 
 #page3Elem2:hover h1, #page3Elem2:hover h3{
    position: relative;
    transform: translateY(3px);
 }


 #page3Elem3:hover,
 #page3Elem3:hover h1,
 #page3Elem3:hover h3,
 #page3Elem3:hover img {
     color: #51733F;
     scale:1;
 } 
 #page3Elem3:hover h1, #page3Elem3:hover h3{
    position: relative;
    transform: translateY(3px);
 }


 #page3Elem4:hover,
 #page3Elem4:hover h1,
 #page3Elem4:hover h3,
 #page3Elem4:hover img {
     color: #51733F;
     scale:1;
 } 
 #page3Elem4:hover h1, #page3Elem4:hover h3{
    position: relative;
    transform: translateY(3px);
 }


 #page3Elem5:hover,
 #page3Elem5:hover h1,
 #page3Elem5:hover h3,
 #page3Elem5:hover img {
     color: #51733F;
     scale:1;
 } 
 #page3Elem5:hover h1, #page3Elem5:hover h3{
    position: relative;
    transform: translateY(3px);
 }

 
 #page3Elem6:hover,
 #page3Elem6:hover h1,
 #page3Elem6:hover h3,
 #page3Elem6:hover img {
     color: #51733F;
     scale:1;
 } 
 #page3Elem6:hover h1, #page3Elem6:hover h3{
    position: relative;
    transform: translateY(3px);
 }

 @media (max-width:600px) {
    #page3{
        width: 100vw;
        min-height: 260vh;
        padding-top: 17vh;
        /* padding-bottom: 10vh; */
     }
    
     #page3>h2{
        font-size: 7vw;
     }

     .page3ElemCommonClass>i{
        font-size: 10vw;
        display: initial;
        position: absolute;
        display: none;
    }

    
     .page3ElemCommonClass>h1{
        display: none;
     }
    
     .page3ElemCommonClass>h3{
        display: none;
     }
    
     .page3ElemCommonClass>img{
        width: 70vw;
        height: 70vw;
        scale: 1;
        position: absolute;
     }
    
    #page3Elem1>img {
        margin-left: -10;
        margin-top: 15%;
    }
    
    #page3Elem2>img{
        margin-left: 34%;
        margin-top: 80%;
     }
    
     #page3Elems #page3Elem3>img{
        margin-left: -30%;
        margin-top: 130%;
     }
    
     #page3Elems #page3Elem4>img{
        margin-left: 34%;
        margin-top: 180%;
     }
    
     #page3Elems #page3Elem5>img{
        margin-left: -30%;
        margin-top: 230%;
     }
    
     #page3Elems #page3Elem6>img{
        margin-left: 34%;
        margin-top: 280%;
     }
 }



  /* Page 4 Started */
#page4{
    width: 100%;
    min-height: 200vh;
    position: relative;  
    padding: 1px;
    padding-left: 15vw;
    padding-top: 15vh;
    overflow: hidden;
 }

 #page4 h1{
    font-family: austinItalic;
    font-size: 7vw;
    font-weight: 300;
    margin-bottom: 5vh;
    position: relative;
    z-index: 9;
 }

 #page4>p{
    width: 32vw;
    display: inline-flex;
    margin-right: 3vw;
    font-size: 1.3vw;
    position: relative;
    z-index: 9;
 }

 .page4Elems h2{
    font-weight: 400;
 }

 .page4Elems h3{
    font-size: 30px;
    font-weight: 200;
    letter-spacing: -0.7px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.838);
 }

 #page4Elem1{
    width: 350px;
    position: absolute;
    left: 48%;
    top:37%;
    rotate:2deg;
 }

 #page4Elem2{
    width: 320px;
    position: absolute;
    top:54%;
    rotate:-2deg;
 }

 #page4Elem3{
    width: 330px;
    position: absolute;
    top:68%;
    left:60%;
 }

 #page4Elem1 img{
    width: 100%;
    height: 250px;
 }

 #page4Elem2 img{
    width: 100%;
    height: 400px;
 }

 #page4Elem3 img{
    width: 100%;
    height: 230px;
 }

 #page4 #whiteCircle{
    height: 300px;
    width: 300px;
    background-color: #F5F5EB;
    position: absolute;
    border-radius: 50%;
    top:38%;
    left:43%;
    transition: all ease-in 0.7s;
 }

 @media (max-width:600px) {
    #page4{
        width: 100vw;
        min-height: 130vh;
        padding-left: 8vw;
        padding-right: 8vw;
        padding-top: 15vh;
     }
    
     #page4 h1{
        font-family: austinItalic;
        font-size: 14.2vw;
        font-weight: 200;
        line-height: 12vw;
     }
    
     #page4>p{
        display: initial;
        font-size: 4vw;
     }

     #page4 #whiteCircle{
        height: 80px;
        width: 80px;
        border-radius: 50%;
        top:31%;
        left:40%;
     }

     .page4Elems{
        border-bottom: 1px solid black;
     }
    
     .page4Elems h2{
        font-weight: 400;
        font-size: 4.3vw;
     }
    
     .page4Elems h3{
        font-size: 5vw;
        font-weight: 500;
        margin-top: 4vh;
     }
    
     #page4Elem1{
        width:90%;
        position: absolute;
        left: 5%;
        top:54%;
        rotate:0deg;
     }
    
     #page4Elem2{
        width:90%;
        position: absolute;
        left: 5%;
        rotate:0deg;
        top:66%;
     }
    
     #page4Elem3{
        width:90%;
        position: absolute;
        left: 5%;
        top:81%;
        rotate:0deg;
     }
    
     #page4Elem1 img{
        top:0;
        width: 70px;
        height: 70px;
        position: absolute;
        right:0;
     }
    
     #page4Elem2 img{
        top:0;
        width: 70px;
        height: 70px;
        position: absolute;
        right:0;
     }
    
     #page4Elem3 img{
        top:0;
        width: 70px;
        height: 70px;
        position: absolute;
        right:0;
     }
 }

  /* Page 5 Started */
  #page5{
    width: 100%;
    min-height: 150vh;
    position: relative; 
    overflow: hidden; 
 }

 #page5-background{
    height: 150vh;
    width: 88%;
    margin: 0 6%;
    background-color: #E0E1D1;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    display: flex;
    align-items: center;
    overflow: hidden; 
    padding-top: 11vh;
 }

 #page5Left{
    height: 100%;
    width: 100%;
    padding-left: 9vw;
 }

 #page5Left h1{
    font-family: austinLight;
    font-size: 6.5vw;
    font-weight: 300;
 }

 #page5Left h1 span{
    font-family: austinItalic
 }

 #page5Right{
    height: 100%;
    width: 100%;
    padding-left: 5vw;
    padding-top: 1.8vh;
    position: relative;
 }

 .page5RightElem{
    margin-bottom: 8vh;
    width: 60%;
 }

 .page5RightElem img{
    width: 200px;
    height: 250px;
    position: absolute;
    opacity: 0;
 }

.page5RightElem h1{
    font-family: austinLight;
    font-size: 2.7vw;
    font-weight: 300;
    margin-bottom: 16px;
 }

.page5RightElem h2{
    font-family: gilroy;
    font-size: 1.3vw;
    font-weight: 300;
    display: inline;
 }

 .page5RightElem h2:nth-child(2){
    background-color: black;
    color: white;
    margin-right: 12px;
    padding: 7px 12px;
    border-radius: 25px;
 }

 .page5RightElem h2:nth-child(3){
    color: black;
    padding: 7px 12px;
    border: 2px solid black;
    border-radius: 25px;
 }

 @media (max-width:600px) {
    #page5{
        width: 100vw;
        min-height: 150vh;
     }
    
     #page5-background{
        height: 150vh;
        flex-direction: column;
     }
    
     #page5Left h1{
        font-family: austinLight;
        font-size: 12.5vw;
        font-weight: 300;
        margin-top: -8vh;
        
        margin-left: -5vw;
     }
    
     #page5Right{
        height: 100%;
        width: 100%;
        padding-left: 5vw;
        margin-top: -120vh;
        position: relative;
     }
    
     .page5RightElem{
        margin-bottom: 8vh;
        width: 70%;
     }
    
     .page5RightElem img{
        width: 200px;
        height: 250px;
        position: absolute;
        opacity: 0;
     }
    
    .page5RightElem h1{
        font-family: austinLight;
        font-size: 8vw;
        font-weight: 300;
        margin-bottom: 16px;
     }
    
    .page5RightElem h2{
        font-family: gilroy;
        font-size: 3.8vw;
        font-weight: 300;
        display: inline;
     }
 }

/* Page 6 Started */
#page6{
    width: 100%;
    min-height: 150vh;
    position: relative; 
    overflow: hidden; 
}

#page6 h1{
    font-size: 6vw;
    font-family: austinLight;
    font-weight: 300;
    padding-left: 14vw;
    padding-top: 16vh;
    overflow: hidden;
    margin-bottom: -18vh;
}

#page6 #bigCircle{
    height: 600px;
    width: 600px;
    position: absolute;
    background-image: url(../images/63.webp);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    left: 35%;
    top:40%;
}

#page6 .smallCircles{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #F5F5EB;
    border: 1px solid black;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    position: absolute;
    overflow: hidden;
}

.smallCircles img{
    position: relative;
    z-index: 99;
    width: 100%;
    transition: all ease-in 0.5s;
}


#page6 .smallCircles #smallCircleBlackInner{
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    transform-origin: 50% 100%;
    scale: 0;
    transition: all ease-out 0.7s;
    border-radius: 50%;
    z-index: 9;
}

#page6 .smallCircles:hover img{
    filter: invert(1);
}

#page6 .smallCircles:hover #smallCircleBlackInner{
    scale: 2;
}

#page6 #smallCircle1{
    top: 55%;
    left: 10%;
}

#page6 #smallCircle2{
    top: 68%;
    left: 19.1%;
}

#page6 #smallCircle3{
    top: 75%;
}

#page6 #smallCircle4{
    top: 30%;
    left: 70%;
}

#page6 #smallCircle5{
    top: 38%;
    left: 84%;
}

#page6 #smallCircle6{
    top: 60%;
    left: 78%;
}

@media (max-width:600px) {
    #page6{
        width: 100vw;
        min-height: 100vh;
        position: relative; 
        overflow: hidden; 
    }
    
    #page6 h1{
        display: none;
    }
    
    #page6 #bigCircle{
        height: 200px;
        width: 200px;
        left: 29.6%;
        top:9%;
    }

    #page6 #bigCircle:hover{
        filter: invert(0.1);
    }
    
    #page6 .smallCircles{
        height: 140px;
        width: 140px;
    }

    #page6 #smallCircle1{
        top: 29.3%;
        left: 10%;
    }
    
    #page6 #smallCircle2{
        top: 47%;
        left: 19.1%;
    }
    
    #page6 #smallCircle3{
        top: 61.7%;
    }
    
    #page6 #smallCircle4{
        top: 34%;
        left: 50%;
    }
    
    #page6 #smallCircle5{
        top:50.7%;
        left: 64%;
    }
    
    #page6 #smallCircle6{
        top: 67.4%;
        left: 50%;
    }
}